@model dynamic

@{
    ViewData["Title"] = "Details";
}

@{
    var genderStr = Model.User.Gender ? "Male" : "Female";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class = "col-sm-10">
            @Model.User.Id
        </dd>
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @Model.User.FirstName
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Model.User.LastName
        </dd>
        <dt class = "col-sm-2">
            Birth Date
        </dt>
        <dd class = "col-sm-10">
            @Model.User.BirthDate.ToString("yyyy/MM/dd")
        </dd>
        <dt class = "col-sm-2">
            Gender
        </dt>
        <dd class = "col-sm-10">
            @genderStr
        </dd>
        <dt class = "col-sm-2">
            User Name
        </dt>
        <dd class = "col-sm-10">
            @Model.User.UserName
        </dd>
    </dl>
</div>
<h3>Avilable Courses</h3>
	<div class="overflow-scroll h-25">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Course Name</th>
					<th>Description</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Instructor</th>
					<th>Grade</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var course in Model.Courses)
				{
					<tr>
						<td>@course.Id</td>
						<td>@course.CourseName</td>
						<td>@course.Description</td>
						<td>@course.StartDate.ToString("yyyy/MM/dd")</td>
						<td>@course.EndDate.ToString("yyyy/MM/dd")</td>
						<td>@course.Instructor.FirstName @course.Instructor.LastName</td>

                        @if(course.Grade == null) {
                            <td>TBD</td>

                        } else {
                            <tb>@course.Grade</tb>
                        }


					</tr>
				}
			</tbody>
		</table>
	</div> 
<div>
    <a asp-action="Index">Back to List</a>
</div>
